<template>
  <section class="bg-gray-50">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
          Task Manager    
        </a>
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
              Forgot Password
            </h1>
            <form class="space-y-4 md:space-y-6" action="#">
              <div>
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5"
                  placeholder="example@email.com"
                  v-model="state.email"
                />
                <span v-if="v$.email.$error"> {{ v$.email.$errors[0].$message }} </span>
              </div>
              <button
                type="submit"
                class="w-full text-white bg-primary hover:bg-primary-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                @click="submit"
              >
                Send Reset Link
              </button>
              <p class="text-sm font-light text-gray-500">
                <RouterLink to="/login" class="font-medium text-primary-600 hover:underline">Go back to Log in</RouterLink>
              </p>
            </form>
          </div>
        </div>
    </div>
  </section>
</template>

<script setup lang="ts">
import { reactive, computed } from 'vue';
import { RouterLink } from 'vue-router';
import useValidate from '@vuelidate/core';
import { required } from '@vuelidate/validators';

const state = reactive({
  email: ''
})

const rules = computed(() => ({
  email: { required }
}))

const v$ = useValidate(rules, state)

const submit = () => {
  console.log(v$)
}

</script>

<style>
</style>
