<template>
  <AuthenticatedLayout>
    <div class="mx-[20%] my-10">
      <div class="my-6 text-xl">Update Profile</div>
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your first name</label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5"
          placeholder="First Name"
          v-model="profileState.firstName"
          :class="{ 'border-red': !!v$1.firstName.$error }"
        />
        <span v-if="v$1.firstName.$error" class="text-red p-1"> {{ v$1.firstName.$errors[0].$message }} </span>
      </div>
      <div class="mt-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your last name</label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5"
          placeholder="Last Name"
          v-model="profileState.lastName"
          :class="{ 'border-red': !!v$1.lastName.$error }"
        />
        <span v-if="v$1.lastName.$error" class="text-red p-1"> {{ v$1.lastName.$errors[0].$message }} </span>
      </div>
      <div class="mt-5">
        <button
          @click="updateProfile"
          class="bg-primary text-white py-2 px-5 rounded-lg"
        >
          Update Profile
        </button>
        <span v-if="updateProfileError" class="text-red p-1 mt-5">{{ updateProfileError }}</span>
      </div>
      <div class="my-6 text-xl">Update Password</div>
      <div>
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Old Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5"
          placeholder="••••••••"
          v-model="passwordState.oldPassword"
          :class="{ 'border-red': !!v$2.oldPassword.$error }"
        />
        <span v-if="v$2.oldPassword.$error" class="text-red p-1"> {{ v$2.oldPassword.$errors[0].$message }} </span>
      </div>
      <div>
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">New Password</label>
        <input
          type="password"
          name="password"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5"
          placeholder="••••••••"
          v-model="passwordState.newPassword"
          :class="{ 'border-red': !!v$2.newPassword.$error }"
        />
        <span v-if="v$2.newPassword.$error" class="text-red p-1"> {{ v$2.newPassword.$errors[0].$message }} </span>
      </div>
      <div>
        <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900">Confirm password</label>
        <input
          type="password"
          name="confirm-password"
          id="confirm-password"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5"
          placeholder="••••••••"
          v-model="passwordState.newPasswordConfirm"
          :class="{ 'border-red': !!v$2.newPasswordConfirm.$error }"
        />
        <span v-if="v$2.newPasswordConfirm.$error" class="text-red p-1"> {{ v$2.newPasswordConfirm.$errors[0].$message }} </span>
      </div>
      <div class="mt-5">
        <button
          @click="updatePassword"
          class="bg-primary text-white py-2 px-5 rounded-lg"
        >
          Update Password
        </button>
        <span v-if="updatePasswordError" class="text-red p-1 mt-5">{{ updatePasswordError }}</span>
      </div>
    </div>
  </AuthenticatedLayout>
</template>

<script setup lang="ts">
import axios from 'axios';
import useValidate from '@vuelidate/core';
import { required, minLength, sameAs } from '@vuelidate/validators';

import AuthenticatedLayout from '@/layouts/AuthenticatedLayout.vue';
import { onMounted, ref, reactive, computed } from 'vue';

const profileState = reactive({
  firstName: '',
  lastName: ''
});

async function getProfile() {
  const response = await axios({
    method: 'get',
    url: 'http://localhost:3000/users/me',
    headers: {
      Authorization: `Bearer ${localStorage.getItem('accessToken')}`
    }
  });

  Object.assign(profileState, {
    firstName: response.data.firstName,
    lastName: response.data.lastName
  });
}

const profileRules = computed(() => ({
  firstName: { required },
  lastName: { required }
}));

const v$1 = useValidate(profileRules, profileState);

const updateProfileError = ref('')

const updateProfile = async () => {
  const result = v$1.value.$validate();
  result.then(async (res: any) => {
    if(res) {
      try {
        updateProfileError.value = '';
        const response = await axios({
          method: 'patch',
          url: 'http://localhost:3000/users/me',
          data: { ...profileState },
          headers: {
            Authorization: `Bearer ${localStorage.getItem('accessToken')}`
          }
        });

        if (response.status === 200) {
          alert('Profile updated successfully');
          getProfile()
        } else {
          updateProfileError.value = 'Profile update failed'
        }
      } catch(err: any) {
        updateProfileError.value = 
          typeof err.response.data.message === 'string'
            ? err.response.data.message
            : err.response.data.message[0];
      }
    }
  }).catch((err) => {
    console.log(err);
  })
}

const passwordInitialState = {
  oldPassword: '',
  newPassword: '',
  newPasswordConfirm: ''
};

const passwordState = reactive({ ...passwordInitialState });

const passwordRules = computed(() => ({
  oldPassword: { required },
  newPassword: { required, minLength: minLength(10) },
  newPasswordConfirm: {
    required,
    minLength: minLength(10),
    sameAs: sameAs(computed(()=> passwordState.newPassword))
  }
}));

const v$2 = useValidate(passwordRules, passwordState);

const updatePasswordError = ref('')

const updatePassword = async () => {
  const result = v$2.value.$validate();
  result.then(async (res: any) => {
    if(res) {
      try {
        updatePasswordError.value = '';
        const response = await axios({
          method: 'patch',
          url: 'http://localhost:3000/auth/change-password',
          data: {
            oldPassword: passwordState.oldPassword,
            password: passwordState.newPassword
          },
          headers: {
            Authorization: `Bearer ${localStorage.getItem('accessToken')}`
          }
        });

        if (response.status === 200) {
          alert('Password updated successfully');
          Object.assign(passwordState, passwordInitialState);
        } else {
          updatePasswordError.value = 'Password update failed'
        }
      } catch(err: any) {
        updatePasswordError.value =
          typeof err.response.data.message === 'string'
            ? err.response.data.message
            : err.response.data.message[0];
      }
    }
  }).catch((err) => {
    console.log(err);
  })
}



onMounted(() => {
  getProfile();
})
</script>