<template>
  <AuthenticatedLayout>
    <div class="mt-5 mx-[8%] ">
      <div class="ml-1">
        <input
          type="text"
          placeholder="Search by Task Name"
          class="bg-gray-50 border border-gray-light text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-[50%] p-2.5"
          v-model="name"
        />
        <div class="flex gap-3 mt-2">
          <div class="all">
            <input type="radio" name="all" :value="null" v-model="priority">
            <span class="ml-2">All</span>
          </div>
          <div class="low">
            <input type="radio" name="low" value="low" v-model="priority">
            <span class="ml-2">Low</span>
          </div>
          <div class="normal">
            <input type="radio" name="normal" value="normal" v-model="priority">
            <span class="ml-2">Normal</span>
          </div>
          <div class="high">
            <input type="radio" name="high" value="high" v-model="priority">
            <span class="ml-2">High</span>
          </div>
        </div>
        <div class="mt-2">
          <button
            class="bg-primary text-white cursor-pointer py-2 px-5 rounded-md"
            @click="getTasks"
          >
            Search
          </button>
        </div>
      </div>
      <div class="mt-5 flex gap-[1%] flex-wrap">
        <TaskCard v-for="(task, i) in tasks" :key="i" :task="task" @deleteTask="(id) => deleteTask(id)" />
      </div>
      <div class="my-7 flex-column align-center">
        <div class="flex gap-5">
          <button class="bg-gray-light p-1 rounded-md" :disabled="page === 1" @click="page--, getTasks()">&larr; Previous</button>
          <button class="bg-gray-light p-1 rounded-md"  :disabled="page === lastPage" @click="page++, getTasks()">Next &rarr;</button>
        </div>
        <div class="mt-1">
          Page {{ page }} out of {{ lastPage }}
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>

<script setup lang="ts">
import axios from 'axios';

import AuthenticatedLayout from '@/layouts/AuthenticatedLayout.vue';
import TaskCard from '@/components/Cards/TaskCard.vue';
import { onMounted, ref } from 'vue';
import { computed } from 'vue';

const tasks = ref(null);
const totalCount = ref(0);

const page = ref(1);
const pageSize = ref(4);
const priority = ref(null);
const name = ref(null);

async function getTasks() {
  let url = `http://localhost:3000/tasks/filter?page=${page.value}&&pageSize=${pageSize.value}`;
  if (priority.value) url += `&&priority=${priority.value}`;
  if (name.value) url += `&&name=${name.value}`;

  const response = await axios({
    method: 'get',
    url,
    headers: {
      Authorization: `Bearer ${localStorage.getItem('accessToken')}`
    }
  });

  tasks.value = response.data.tasks;
  totalCount.value = response.data.total;
}

const lastPage = computed(() => {
  return Math.ceil(totalCount.value / pageSize.value)
})

async function deleteTask(id: string) {
  try {
    if (confirm("Are you sure?") == true) {
      const response = await axios({
        method: 'delete',
        url: `http://localhost:3000/tasks/${id}`,
        headers: {
          Authorization: `Bearer ${localStorage.getItem('accessToken')}`
        }
      });

      if (response.status === 200) {
        alert('Task deleted successfully');
        getTasks();
      } else {
        console.log('Deleting the task failed');
      }
    } else {
      console.log("You canceled!");
    }
    
  } catch(err: any) {
    console.log(
      typeof err.response.data.message === 'string'
        ? err.response.data.message
        : err.response.data.message[0]
    );
  }
}

onMounted(() => {
  getTasks();
})
</script>