<template>
  <AuthenticatedLayout>
    <div class="py-10 w-[60%] ml-[20%]">
      <div class="text-xl">Create Task</div>
      <div>
        <div class="mt-5">
          <label for="taskname" class="text-lg">Name</label>
          <input
            type="text"
            name="taskname"
            id="taskname"
            class="bg-gray-50 border border-gray-light text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5"
            placeholder="Task Name"
            v-model="state.name"
            :class="{ 'border-red': !!v$.name.$error }"
          />
          <span v-if="v$.name.$error" class="text-red p-1"> {{ v$.name.$errors[0].$message }} </span>
        </div>
        <div class="flex mt-5 gap-5">
          <div>
            <label for="taskname" class="text-lg">Start Date</label>
            <VueDatePicker v-model="state.startAt"></VueDatePicker>
            <span v-if="v$.startAt.$error" class="text-red p-1"> {{ v$.startAt.$errors[0].$message }} </span>
          </div>
          <div>
            <label for="taskname" class="text-lg">End Date</label>
            <VueDatePicker v-model="state.endAt"></VueDatePicker>
            <span v-if="v$.endAt.$error" class="text-red p-1"> {{ v$.endAt.$errors[0].$message }} </span>
          </div>
        </div>
        <div class="mt-5">
          <div class="text-lg">Assignees</div>
          <div class="flex gap-3 flex-wrap mt-4">
            <div class="flex gap-1 bg-gray-light py-1 px-3 rounded-lg" v-for="(assignee, i) in state.assignees" :key="i">
              <span class="name">
                {{ assignee.firstName + " " + assignee.lastName }}
              </span>
              <div class="text-red cursor-pointer" @click="removeAssignee(i)">x</div>
            </div>
          </div>
          <div class="new">
            <input
              type="text"
              name="taskname"
              id="taskname"
              class="mt-2 border border-gray-light text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5"
              placeholder="Search Users"
              v-model="userSearch"
            />
            <div class="w-full bg-gray-light z-50">
              <div
                class="p-2 hover:bg-primary hover:text-white cursor-pointer"
                v-for="(user, i) in userSearchResults"
                :key="i"
                @click="state.assignees.push(user), userSearch = ''"
              >
                {{ user.firstName + " " + user.lastName }}
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <div class="text-lg">Projects</div>
          <div class="flex gap-3 flex-wrap mt-4">
            <div class="flex gap-1 bg-gray-light py-1 px-3 rounded-lg" v-for="(project, i) in state.projects" :key="i">
              <span class="name">
                {{ project.name }}
              </span>
              <div class="text-red cursor-pointer" @click="removeProject(i)">x</div>
            </div>
          </div>
          <div class="new">
            <input
              type="text"
              name="taskname"
              id="taskname"
              class="mt-2 border border-gray-light text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5"
              placeholder="Search Users"
              v-model="projectSearch"
            />
            <div class="w-full bg-gray-light z-50">
              <div
                class="p-2 hover:bg-primary hover:text-white cursor-pointer"
                v-for="(project, i) in projectSearchResults"
                :key="i"
                @click="state.projects.push(project), projectSearch = ''"
              >
                {{ project.name }}
              </div>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <label for="taskname" class="text-lg">Description</label>
          <textarea
            type="text"
            name="taskname"
            id="taskname"
            class="mt-2 bg-gray-50 border border-gray-light text-gray-900 sm:text-sm rounded-lg focus:border-primary-600 block w-full p-2.5"
            placeholder="Task Description (100 words max.)"
            maxlength="100"
            v-model="state.description"
            :class="{ 'border-red': !!v$.description.$error }"
          ></textarea>
          <span v-if="v$.description.$error" class="text-red p-1"> {{ v$.description.$errors[0].$message }} </span>
        </div>
        <div class="mt-5">
          <div class="text-lg">Priority</div>
          <div class="flex gap-3 mt-2">
            <div class="low">
              <input type="radio" name="low" value="low" v-model="state.priority">
              <span class="ml-2">Low</span>
            </div>
            <div class="normal">
              <input type="radio" name="normal" value="normal" v-model="state.priority">
              <span class="ml-2">Normal</span>
            </div>
            <div class="high">
              <input type="radio" name="high" value="high" v-model="state.priority">
              <span class="ml-2">High</span>
            </div>
          </div>
          <span v-if="v$.priority.$error" class="text-red p-1"> {{ v$.priority.$errors[0].$message }} </span>
        </div>
        <span v-if="insertError" class="text-red p-1 mt-5">{{ insertError }}</span>
        <div class="flex mt-5 gap-3 justify-end">
          <button @click="cancel" class="border border-gray-light text-lg py-2 px-10 rounded-lg">Cancel</button>
          <button @click="submit" class="bg-primary text-white border border-gray-light text-lg py-2 px-10 rounded-lg">Submit</button>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>

<script setup lang="ts">
import axios from 'axios';
import { ref, reactive, onMounted, computed } from 'vue';
import useValidate from '@vuelidate/core';
import { required } from '@vuelidate/validators';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import { useRoute } from 'vue-router'

import AuthenticatedLayout from '@/layouts/AuthenticatedLayout.vue';
import router from '@/router';

const route = useRoute();

const initialState = {
  name: '',
  startAt: '',
  endAt: '',
  description: '',
  priority: '',
  assignees: [],
  projects: []
};

const state = reactive({ ...initialState });

const taskId = ref('');

async function getTask(id: string) {
  const response = await axios({
    method: 'get',
    url: `http://localhost:3000/tasks/${id}`,
    headers: {
      Authorization: `Bearer ${localStorage.getItem('accessToken')}`
    }
  });

  const { id: resId, name, startAt, endAt, description, priority, assignees, projects } = response.data;

  Object.assign(state, {
    name,
    startAt,
    endAt,
    description,
    priority,
    assignees: assignees.map(({ user }: any) => user),
    projects: projects.map(({ project }: any) => project)
  })

  taskId.value = resId;
}

const insertError = ref('');

const rules = computed(() => ({
  name: { required },
  startAt: { required },
  endAt: { required },
  description: { required },
  priority: { required }
}));

const v$ = useValidate(rules, state);

const cancel = () => {
  Object.assign(state, initialState);
  router.push('/tasks');
}

const userSearch = ref('');
const users = ref([]);

async function getUsers() {
  const response = await axios({
    method: 'get',
    url: 'http://localhost:3000/users',
    headers: {
      Authorization: `Bearer ${localStorage.getItem('accessToken')}`
    }
  });

  users.value = response.data;
}

const userSearchResults = computed(() => {
  if (!remainingUsers.value.length || !userSearch.value) return [];
  
  return remainingUsers.value.filter(
    ({ firstName, lastName }: any) =>
      firstName.toLowerCase().includes(userSearch.value.toLowerCase())
        || lastName.toLowerCase().includes(userSearch.value.toLowerCase())
  )
})

const remainingUsers = computed(() => {
  return users.value.filter(function({ id: id1 }) {
    return !state.assignees.find(function({ id: id2 }) {
      return id1 === id2
    })
  })
});

const removeAssignee = (index: number) => {
  state.assignees.splice(index, 1); 
}


const projectSearch = ref('');
const projects = ref([]);

async function getProjects() {
  const response = await axios({
    method: 'get',
    url: 'http://localhost:3000/projects',
    headers: {
      Authorization: `Bearer ${localStorage.getItem('accessToken')}`
    }
  });

  projects.value = response.data;
}

const projectSearchResults = computed(() => {
  if (!remainingProjects.value.length || !projectSearch.value) return [];
  
  return remainingProjects.value.filter(
    ({ name }: any) =>
      name.toLowerCase().includes(projectSearch.value.toLowerCase())
  )
});

const remainingProjects = computed(() => {
  return projects.value.filter(function({ id: id1 }) {
    return !state.projects.find(function({ id: id2 }) {
      return id1 === id2
    })
  })
});

const removeProject = (index: number) => {
  state.projects.splice(index, 1); 
}

const submit = () => {
  const result = v$.value.$validate();
  result.then((res) => {
    if(res) {
      return updateTask({
        ...state,
        assignees: state.assignees.map(({ id }) => id),
        projects: state.projects.map(({ id }) => id)
      });
    }
  }).catch((err) => {
    console.log(err);
  })
}

const updateTask = async (data: any) => {
  try {
    insertError.value = '';
    const response = await axios({
      method: 'patch',
      url: `http://localhost:3000/tasks/${taskId.value}`,
      data,
      headers: {
        Authorization: `Bearer ${localStorage.getItem('accessToken')}`
      }
    });

    if (response.status === 200) {
      alert('Task updated successfully');
      router.push('/tasks');
    } else {
      insertError.value = 'Updating the task failed'
    }
  } catch(err: any) {
    insertError.value = 
      typeof err.response.data.message === 'string'
        ? err.response.data.message
        : err.response.data.message[0];
  }
}

onMounted(() => {
  getTask(route.params.id as string);
  getUsers();
  getProjects();
})
</script>

<style>
.custom-dp {
  width: 150%;
}
</style>