<template>
  <div class="p-3 mb-3 border-2 border-gray-light rounded-md w-[45%]">
    <div class="flex justify-between">
      <div class="left">
        <div class="font-bold">{{ task.name }}</div>
        <div
          class="text-xs"
          :class="{
            'text-red': task.priority === 'high',
            'text-orange': task.priority === 'normal',
            'text-primary': task.priority === 'low'
          }"
        >
          {{ task.priority.toUpperCase() + " PRIORITY" }}
        </div>
      </div>
      <div class="right flex gap-2">
        <span class="text-xs text-green underline cursor-pointer" @click="goToEdit(task.id)">Edit</span>
        <span class="text-xs text-red underline cursor-pointer" @click="deleteTask(task.id)">Delete</span>
      </div>
    </div>
    <div class="gap-1 mt-4 text-gray">
      {{ task.description }}
    </div>
    <div class="mt-3">
      <div class="title">Projects:</div>
      <div class="flex gap-1 mt-1">
        <div
          v-for="(project, i) in task.projects"
          :key="i"
          class="tag bg-gray-light rounded-md text-xs py-1 px-2 flex"
        >
          {{ project.project.name }}
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="title">Assignees</div>
      <div class="flex gap-1 mt-1">
        <div
          v-for="(assignee, i) in task.assignees"
          :key="i"
          class="tag bg-primary text-white rounded-md text-xs py-1 px-2 flex"
        >
          {{  assignee.user.firstName + " "  + assignee.user.lastName }}
        </div>
      </div>
    </div>
    <div class="mt-3 flex gap-1 text-xs">
      <div class="title">Created by:</div>
      <div class="flex text-primary">
        {{ task.createdBy.firstName + " " + task.createdBy.lastName }}
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import router from '@/router';

defineProps({
  task: Object
});

const emit = defineEmits(['deleteTask'])

function deleteTask(id: string) {
  emit('deleteTask', id);
}

const goToEdit = (id: string) => {
  router.push(`/update-task/${id}`)
}
</script>