<template>
  <div class="min-h-screen w-screen transition-position lg:w-auto bg-gray-50">
    <NavBar />
    <slot />
  </div>
</template>

<script setup lang="ts">
import NavBar from '@/components/NavBar.vue';
</script>