<template>
  <ul class="flex justify-end border-b-2 border-gray-light py-4">
    <li class="mr-10">
      <RouterLink class="text-primary hover:text-blue-800 ml-10" to="/new-task">
        + New Task
      </RouterLink>
    </li>
    <li class="mr-10">
      <RouterLink class="text-primary hover:text-blue-800" to="/tasks">All tasks</RouterLink>
    </li>
    <li class="mr-10">
      <RouterLink class="text-primary hover:text-blue-800" to="/my-profile">My Profile</RouterLink>
    </li>
    <li class="mr-10">
      <a class="text-primary" href="#" @click="logOut">Log out</a>
    </li>
  </ul>
</template>

<script setup lang="ts">
import { RouterLink } from 'vue-router';
import { useAuthStore } from '@/stores';

const logOut = () => {
  const authStore = useAuthStore();
  return authStore.logout();
}

</script>

<style scoped>
</style>
